<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
         id="WebApp_ID" version="4.0">
  <display-name>314_ServletsManttoPerros</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- -
   -->
   <context-param>
	  <param-name>modo</param-name>
	  <param-value>debug</param-value>
  </context-param>
  <session-config>
	<session-timeout>1</session-timeout>  
	<cookie-config>
		<http-only>true</http-only>
		<max-age>60</max-age>		
	</cookie-config>
  </session-config>
  
</web-app>